<div class="row mt-4">
  <div class="col-12">
    <div class="row">
      <div class="col-2 text-center font-weight-bold">Status</div>
      <div class="col-3 text-center font-weight-bold">Name</div>
      <div class="col-1 text-center font-weight-bold">Type</div>
      <div class="col-3 text-center font-weight-bold">Brand</div>
      <div class="col-3 text-center font-weight-bold">Submission</div>
    </div>
  </div>
</div>


<div *ngFor="let compaing of compaings" class="row mt-3 mb-3 table-row">
  <div class="col-12">
    <div class="row table-row-content">
        <div class="col-2 text-center table-row-content-status" [class]="getClass(compaing)">
            <div class="status-icon">
              <fa-icon [icon]="compaingStatus[compaing.requestStatus.requestStatusId.toString()]" class="font-size-2-rem"></fa-icon>
            </div>
            <div class="status-text">{{compaing.requestStatus.value}}</div>
        </div>
      <div class="col-3 table-row-content-name">{{compaing.campaignName}}</div>
      <div [class.advice]="compaing.advice"
           [class.request]="!compaing.advice"
           class="col-1 text-center table-row-content-type">
        {{compaing.advice? 'Advice': 'Request'}}
      </div>
      <div class="col-3 text-center table-row-content-brand">{{compaing.brand.name}}</div>
      <div class="col-3 text-center table-row-content-submissions">{{compaing.submittedDate?formattedDate(compaing.submittedDate):'-'}}</div>
    </div>
  </div>
</div>
